<!doctype html>
<!--[if lt IE 7]> <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie" lang="en"> <![endif]-->
<html lang="en">
<head>
	<title>{{site_name}}</title>
{% include "includes/meta" %}
{% include "includes/css" %}
{% include "includes/js_head" %}
</head>
<body>
{% include "includes/nav" %}
	<div id="content" class="content-container">
		<div id="audioPlayer" class="gallery clearfix">	
			<div class="fixedRatioWrapper ratio1x1">
				{% for image in art %}<img class="cover-art" src="{{image.path}}" alt="{{image.name}}"/>
  				{% endfor %}
  			</div>
  			<audio src="{{s3link}}" preload="none"></audio>
			<div class="copy">
				<h1>{{title}}</h1>
				{{body}}
	  			<p><a class="download-link" href="{{s3link}}" target="_blank">Download</a></p>
			</div>
		</div>		
	</div>
	<div id="bg"></div>
{% include "includes/js_foot" %}
</body>
</html>
