<!doctype html>
<!--[if lt IE 7]> <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie" lang="en"> <![endif]-->
<html lang="en">
<head>
	<title>{{site_name}}</title>
{% include "includes/meta" %}
{% include "includes/css" %}
{% include "includes/js_head" %}
</head>
<body>
{% include "includes/nav" %}
	<div id="content" class="content-container">
		<div id="flashGallery" class="gallery clearfix">	
			<div class="fixedRatioWrapper ratio{{ratio}}">		
				<ul class="swf-stack">
					{% for file in embed %}<li>
						<div id="FlashEmbed_{{forloop.index}}" class="flash-container" data-src="swf/{{file.path}}" data-width="{{file.width}}" data-height="{{file.height}}">
							<a href="#"><img src="/img/flash.png" class="flash-warn"></a>
							<img src="img/{{file.alt}}" alt="Flash Player Required To View Animation">
						</div>
		  			</li>{% endfor %}
				</ul>
			</div>
			<div class="pagination clearfix"><a href="#" class="prev">prev</a><div class="count"><span id="current">1</span> / <span id="total">1</span></div><a href="#" class="next">next</a></div>
			<div class="copy clearfix">
				<h1>{{title}}</h1>
				{{body}}
				{% if link %}<a href="{{link}}" target="_blank">{{link}}</a>{% endif %}
			</div>
		</div>		
	</div>
	<div id="bg"></div>
{% include "includes/js_foot" %}
</body>
</html>
